$color-magenta-font: #eb36c0;
$color-white-font: #ffff;
$color-black-font: #000000;

$color-magenta-elements-color: #eb36c0;

$color-magenta-bg: #eb36c0;
$color-white-bg: #ffff;
$color-black-bg: #000000;
$color-light-black: #0000000f;
$color-light-gray: #c8c6d0;
