@font-face {
  font-family: "Lobster";
  src: url("/src/Fonts/Lobster/Lobster-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("/src/Fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

$font-lobster-regular: "Lobster";
$font-roboto-regular: "Roboto";
