$font-text-navigation: clamp(14px, 2vw, 16px);
$font-text-title: clamp(40px, 7vw, 88px);
$font-text-subtitle: clamp(18px, 3vw, 24px);
$font-text-subtitle-v2: clamp(18px, 2vw, 20px);
$font-paragraph: 15px;

$font-size-logo: clamp(16px, 2vw, 24px);
$font-header: clamp(44px, 10vw, 150px);

$padding-navigation: clamp(0px, 2vw, 20px);

$space-element-gap: clamp(10px, 3vw, 20px);

$space-element-header: 40vh;

$container-padding: clamp(10px, 2vw, 20px);

$space-element: clamp(30px, 5vw, 50px);
$space-element-v2: clamp(10px, 2vw, 30px);
$space-element-subtitle: clamp(10px, 3vw, 20px);
