@use "/src/GlobalStyle/main.scss" as *;

// Repeating an element

%--withFont {
  @include withFont($font-family: $font-lobster-regular, $white-space: nowrap, $user-select: false);
}

// Repeating an element

.mainWithStylo {
  display: inline;
  .with {
    @extend %--withFont;
    color: $color-black-font;
  }
  .stylo {
    @extend %--withFont;
    color: $color-magenta-font;
    text-shadow: 0 0 1px black;
  }
}
